In [1]:
import pandas as pd
import re
import nltk
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
# Remove HTML tags from the 'review' column using regular expressions
df['review'] = df['review'].apply(lambda x: re.sub(r'<[^>]*>', '', x))

# Remove any special characters (excluding letters, numbers, and whitespace) from the 'review' column
df['review'] = df['review'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

# df.to_csv("IMDB Dataset(cleaned).csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production The filming tech...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive

In [8]:
# Preprocessing the data.
df_jumbled = df.sample(frac=1, random_state=42)
# df_jumbled.head()


# Tokenization, Negation Handling, lowercase the reviews.
# nltk.download('punkt')
df_tokenized_reviews = df_jumbled['review'].apply(nltk.word_tokenize)
print(df_tokenized_reviews.head(5))
# Feature Extraction - split apart the feature column from the sentiment column and make review X, and Sentiment Y

# Use encoder for the sentiment, vectorizer for reviews.

# Stratified split of dataset to maintain even distribution of positive and negative reviews
# ... when training a model. Maintains the class proportions.
# X_train, X_test, y_train, y_test = train_test_split(df['review'], df['sentiment'], test_size = 0.2, stratify=df['sentiment'], random_state=42)

# Model Selection

# Data Anaylsis --> Data Preprocessing --> train_test_split --> Data Modeling w/ X_train, y_train

33553    [I, really, liked, this, Summerslam, due, to, ...
9427     [Not, many, television, shows, appeal, to, qui...
199      [The, film, quickly, gets, to, a, major, chase...
12447    [Jane, Austen, would, definitely, approve, of,...
39489    [Expectations, were, somewhat, high, for, me, ...
Name: review, dtype: object